.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100px;
  height: 100px;
}

.navbarLinks {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

.navbarLinks a {
  color:#033a81;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  font-weight: bolder;
}

.loginBtn {
  color:#033a81;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  font-weight: bolder;
}

.navbarLinks a:hover {
  color: #c8dcf7;
  border-radius: 15px;
  text-decoration: underline;
}

.loginBtn:hover {
  color: #c8dcf7;
  border-radius: 15px;
  text-decoration: underline;
}

#navBar {
  background-image: linear-gradient(to right, #093774, #a0c3f7);
}

.companyLogo {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  color: #c8dcf7;
  text-decoration: none;
}

.companyLogo:hover {
  color: #ffffff;
}

.pageHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.homeParagraph {
  padding: 60px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.homeGallery {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeGallery img {
  width: 200px;
  height: 200px;
  margin: 10px;
}

.homeGallery img:hover {
  transform: scale(1.1);
}

.productPage {
  display: flex;
}

.productParagraph {
  font-weight: bold;
  text-align: center;
}

.productList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.productList h2{
  text-align: center;
  display: flex;
  padding: 20px;
}

.productList img {
  width: 200px;
  height: 200px;
  margin: 10px;
}

.productList img:hover {
  transform: scale(1.1);
}

.overall {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.productContainer {
  margin: 30px;
}

.productContainer:hover {
  transform: scale(1.1);
  background-color: rgb(214, 213, 213);
  border-radius: 8px;
}

.productContainer img {
  width: 200px;
  height: 200px;
  margin: 10px;
}

.productLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #076fac;
}

.productCard {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  width: 200px;
  height: 400px;
  transition: background-color 1.5s;
}

.productImage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.cardTitle {
  margin-top: 10px; /* Adjust as needed */
}

.cardImage {
  max-width: 100%; /* Ensure the image doesn't exceed the card's width */
  height: auto; /* Maintain aspect ratio */
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginTitle {
  font-size: 30px;
  font-weight: bold;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signupPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signupTitle {
  font-size: 30px;
  font-weight: bold;
}

.signupForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.usernameInput {
  margin: 10px;
}

.passwordInput {
  margin: 10px;
}

.submitButton {
  margin: 10px;
}

.emailInput {
  margin: 10px;
}